<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Copa</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Conjuntos da Copa</h2>
        <h3>Estufa</h3>

        <hr />

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Plantações de Primavera</h1>
        <h2>4 Itens</h2>
        <h2>Recompensa: <img src="../public/images/Speed-Gro.png" />(20)</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Parsnip.png" />
              </td>
              <td>Chirívia</td>
              <td>1</td>
              <td>Plantações de Primavera.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Green_Bean.png" />
              </td>
              <td>Vagem</td>
              <td>1</td>
              <td>Plantações de Primavera.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Cauliflower.png" />
              </td>
              <td>Couve-flor</td>
              <td>1</td>
              <td>Plantações de Primavera.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Potato.png" />
              </td>
              <td>Batata</td>
              <td>1</td>
              <td>Plantações de Primavera.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Plantações de Verão</h1>
        <h2>4 Itens</h2>
        <h2>
          Recompensa: <img src="../public/images/Quality_Sprinkler.png" />(1)
        </h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Tomato.png" />
              </td>
              <td>Tomate</td>
              <td>1</td>
              <td>Plantações de Verão.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Hot_Pepper.png" />
              </td>
              <td>Pimenta quente</td>
              <td>1</td>
              <td>Plantações de Verão.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Blueberry.png" />
              </td>
              <td>Mirtilo</td>
              <td>1</td>
              <td>Plantações de Verão.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Melon.png" />
              </td>
              <td>Melão</td>
              <td>1</td>
              <td>Plantações de Verão.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Plantações de Outono</h1>
        <h2>4 Itens</h2>
        <h2>Recompensa: <img src="../public/images/Bee_House.png" />(1)</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Corn.png" />
              </td>
              <td>Milho</td>
              <td>1</td>
              <td>Plantações de Outono/Verão.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Eggplant.png" />
              </td>
              <td>Berinjela</td>
              <td>1</td>
              <td>Plantações de Outono.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Pumpkin.png" />
              </td>
              <td>Abóbora</td>
              <td>1</td>
              <td>Plantações de Outono.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Yam.png" />
              </td>
              <td>Inhame</td>
              <td>1</td>
              <td>Plantações de Outono.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Plantações de qualidade</h1>
        <h2>3 Itens</h2>
        <h2>Recompensa: <img src="../public/images/Preserves_Jar.png" />(1)</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Parsnip.png" />
              </td>
              <td>Chirívia</td>
              <td>5</td>
              <td>Plantações de Primavera de qualidade dourada.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Melon.png" />
              </td>
              <td>Melão</td>
              <td>5</td>
              <td>Plantações de Verão de qualidade dourada.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Pumpkin.png" />
              </td>
              <td>Abóbora</td>
              <td>5</td>
              <td>Plantações de Outono de qualidade dourada.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Corn.png" />
              </td>
              <td>Milho</td>
              <td>5</td>
              <td>Plantações de Verão/Outono de qualidade dourada.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Animal</h1>
        <h2>5 Itens</h2>
        <h2>Recompensa: <img src="../public/images/Cheese_Press.png" />(1)</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Large_Milk_ES.png" />
              </td>
              <td>leite grande</td>
              <td>1</td>
              <td>Vacas.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Large_Egg.png" />
              </td>
              <td>Ovo grande</td>
              <td>1</td>
              <td>Galinhas.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Large_Brown_Egg.png" />
              </td>
              <td>Ovo grande marrom</td>
              <td>1</td>
              <td>Galinhas.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Large_Goat_Milk_ES.png" />
              </td>
              <td>Leite grande de cabra</td>
              <td>1</td>
              <td>Cabras.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Wool.png" />
              </td>
              <td>Lã</td>
              <td>1</td>
              <td>Ovelhas e coelhos.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Duck_Egg.png" />
              </td>
              <td>Ovo de pata</td>
              <td>1</td>
              <td>Patos.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Artesão</h1>
        <h2>6 Itens</h2>
        <h2>Recompensa: <img src="../public/images/Keg.png" />(1)</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Truffle_Oil.png" />
              </td>
              <td>Óleo de trufas</td>
              <td>1</td>
              <td>Feito a partir de Trufas usando Gerador de óleo.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Cloth.png" />
              </td>
              <td>Tecido</td>
              <td>1</td>
              <td>Tear, Reciclando um Jornal ensopado.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Goat_Cheese.png" />
              </td>
              <td>Queijo de cabra</td>
              <td>1</td>
              <td>Prensa de queijo.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Cheese.png" />
              </td>
              <td>Queijo</td>
              <td>1</td>
              <td>Prensa de queijo.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Honey.png" />
              </td>
              <td>Mel</td>
              <td>1</td>
              <td>Apiário.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Jelly.png" />
              </td>
              <td>Geléia</td>
              <td>1</td>
              <td>Jarra de conserva.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Apple.png" />
              </td>
              <td>Maçã</td>
              <td>1</td>
              <td>
                Obtida pelas Macieiras no Outono, na Caverna da Fazenda (opção
                de Morcegos de Fruta).
              </td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Apricot.png" />
              </td>
              <td>Damasco</td>
              <td>1</td>
              <td>
                Obtidas pelos Damasqueiros na Primavera, na Caverna da Fazenda
                (opção de Morcegos de Fruta).
              </td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Orange.png" />
              </td>
              <td>Laranja</td>
              <td>1</td>
              <td>
                Obtida pelas Laranjeiras no Verão, na Caverna da Fazenda (opção
                de Morcegos de Fruta).
              </td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Peach.png" />
              </td>
              <td>Pêssego</td>
              <td>1</td>
              <td>
                Obtido pelos Pessegueiros no Verão, na Caverna da Fazenda (opção
                de Morcegos de Fruta).
              </td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Pomegranate.png" />
              </td>
              <td>Romã</td>
              <td>1</td>
              <td>
                Obtida pelas Romãzeiras no Outono, na Caverna da Fazenda (opção
                de Morcegos de Fruta).
              </td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Cherry.png" />
              </td>
              <td>Cereja</td>
              <td>1</td>
              <td>
                Obtido pelas Cerejeiras na Primavera, na Caverna da Fazenda
                (opção de Morcegos de Fruta).
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
