<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Sala de Artesanato</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Conjuntos da sala de artesanato</h2>
        <h3>Reparo da ponte</h3>

      <hr />

      <br>
      <br>
      <br>
      <br>
      <h1>Conjunto de Recursos de Primavera</h1>
      <h2>4 Itens</h2>
      <h2>Recompensa: <img src="../public/images/Spring_Seeds.png">(30)</h2>
      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Itens</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="../public/images/Wild_Horseradish.png">
                </td>
                <td>Raiz-forte</td>
                <td>1</td>
                <td>Coletado pelo mapa na Primavera.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Leek.png">
                </td>
                <td>Alho-poró</td>
                <td>1</td>
                <td>Coletado pelo mapa na Primavera.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Dandelion.png">
                </td>
                <td>Dente-de-leão</td>
                <td>1</td>
                <td>Coletado pelo mapa na Primavera.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Daffodil.png">
                </td>
                <td>Narciso</td>
                <td>1</td>
                <td>Coletado pelo mapa na Primavera.</td>
            </tr>
        </tbody>
      </table>

      <br />
      <br />
      <br />
      <br />

      <h1>Conjunto de Recursos de Verão</h1>
      <h2>3 Itens</h2>
      <h2>Recompensa: <img src="../public/images/Summer_Seeds.png">(30)</h2>
      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Itens</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="../public/images/Grape.png">
                </td>
                <td>Uva</td>
                <td>1</td>
                <td>Coletado pelo mapa no Verão.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Spice_Berry.png">
                </td>
                <td>Café de jardim</td>
                <td>1</td>
                <td>Coletado pelo mapa no Verão.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Sweet_Pea.png">
                </td>
                <td>Ervilha-de-cheiro</td>
                <td>1</td>
                <td>Coletado pelo mapa no Verão.</td>
            </tr>
        </tbody>
      </table>

      <br />
      <br />
      <br />
      <br />

      <h1>Conjunto de Recursos de Outono</h1>
      <h2>4 Itens</h2>
      <h2>Recompensa: <img src="../public/images/Fall_Seeds.png">(30)</h2>
      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Itens</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="../public/images/Common_Mushroom.png">
                </td>
                <td>Cogumelo comum</td>
                <td>1</td>
                <td>Coletado pelo mapa no Outono.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Wild_Plum.png">
                </td>
                <td>Ameixa selvagem</td>
                <td>1</td>
                <td>Coletado pelo mapa no Outono.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Hazelnut.png">
                </td>
                <td>Avelã</td>
                <td>1</td>
                <td>Coletado pelo mapa no Outono.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Blackberry.png">
                </td>
                <td>Amora</td>
                <td>1</td>
                <td>Coletado pelo mapa no Outono.</td>
            </tr>
        </tbody>
      </table>

      <br />
      <br />
      <br />
      <br />

      <h1>Conjunto de Recursos de Inverno</h1>
      <h2>4 Itens</h2>
      <h2>Recompensa: <img src="../public/images/Winter_Seeds.png">(30)</h2>
      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Itens</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="../public/images/Winter_Root.png">
                </td>
                <td>Raiz de inverno</td>
                <td>1</td>
                <td>Pontos de artefato no Inverno ou slime azul (andar 41-79).</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Crystal_Fruit.png">
                </td>
                <td>Fruta de cristal</td>
                <td>1</td>
                <td>Colete durante o Inverno ou Espíritos da poeira (41-79).</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Snow_Yam.png">
                </td>
                <td>Inhame de neve</td>
                <td>1</td>
                <td>Pontos de artefato no Inverno.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Crocus.png">
                </td>
                <td>Flor de açafrão</td>
                <td>1</td>
                <td>Coletado pelo mapa no Inverno.</td>
            </tr>
        </tbody>
      </table>
      
      <br />
      <br />
      <br />
      <br />

      <h1>Conjunto Construção</h1>
      <h2>4 Itens</h2>
      <h2>Recompensa: <img src="../public/images/Charcoal_Kiln.png">(1)</h2>
      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Itens</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="../public/images/Wood.png">
                </td>
                <td>Madeira</td>
                <td>99</td>
                <td>Corte árvores ou galhos com um machado.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Wood.png">
                </td>
                <td>Madeira</td>
                <td>99</td>
                <td>Corte árvores ou galhos com um machado.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Stone.png">
                </td>
                <td>Pedra</td>
                <td>99</td>
                <td>Quebre pedras com uma picareta.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Hardwood.png">
                </td>
                <td>Madeira de lei</td>
                <td>10</td>
                <td>Corte Tocos Grandes ou Troncos grandes com um machado melhorado.</td>
            </tr>
        </tbody>
      </table>
      
      <br />
      <br />
      <br />
      <br />

      <h1>Conjunto de Recursos Exóticos</h1>
      <h2>5 Itens</h2>
      <h2>Recompensa: <img src="../public/images/Autumn's_Bounty.png">(5)</h2>
      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Itens</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="../public/images/Coconut.png">
                </td>
                <td>Coco</td>
                <td>1</td>
                <td>Colete no deserto.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Cactus_Fruit.png">
                </td>
                <td>Fruto do cacto</td>
                <td>1</td>
                <td>Colete no deserto.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Cave_Carrot.png">
                </td>
                <td>Cenoura Subterrânea</td>
                <td>1</td>
                <td>Obtenha nas Minas, tanto quebrando caixas quanto arando o solo.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Red_Mushroom.png">
                </td>
                <td>Cogumelo vermelho</td>
                <td>1</td>
                <td>Colete nas Minas, colete durante o Outono e o Verão no Bosque Secreto, na Caverna da Fazenda (opção de Cogumelos), Extraia de uma Árvore de cogumelo.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Purple_Mushroom.png">
                </td>
                <td>Cogumelo roxo</td>
                <td>1</td>
                <td>Obtenha nas Minas, na Caverna da Fazenda (opção de Cogumelos), no mapa da Fazenda na Floresta Colete no Outono.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Maple_Syrup.png">
                </td>
                <td>Xarope de ácer</td>
                <td>1</td>
                <td>Extraia de um ácer.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Oak_Resin.png">
                </td>
                <td>Resina de carvalho</td>
                <td>1</td>
                <td>Extraia de um Carvalho.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Pine_Tar.png">
                </td>
                <td>Alcatrão de pinho</td>
                <td>1</td>
                <td>Extraia de um Pinheiro.</td>
            </tr>
            <tr>
                <td>
                    <img src="../public/images/Morel.png">
                </td>
                <td>Morel</td>
                <td>1</td>
                <td>Colete no Bosque Secreto durante a Primavera, na Caverna da Fazenda (opção de Cogumelos).</td>
            </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>