<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Sala da Caldeira</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Conjuntos da Sala da Caldeira</h2>
        <h3>Carrinhos reparados</h3>

        <hr />

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto de Ferreiro</h1>
        <h2>3 Itens</h2>
        <h2>Recompensa: <img src="../public/images/Furnace.png" />(1)</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Copper_Bar.png" />
              </td>
              <td>Barra de cobre</td>
              <td>1</td>
              <td>Derretendo minérios de cobre.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Iron_Bar.png" />
              </td>
              <td>Barra de ferro</td>
              <td>1</td>
              <td>Derretendo minérios de ferro.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Gold_Bar.png" />
              </td>
              <td>Barra de ouro</td>
              <td>1</td>
              <td>Derretendo minérios de ouro.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto de Geólogo</h1>
        <h2>4 Itens</h2>
        <h2>Recompensa: <img src="../public/images/Omni_Geode.png" />(5)</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Quartz.png" />
              </td>
              <td>Quartzo</td>
              <td>1</td>
              <td>Colete em todos os andares das minas.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Earth_Crystal.png" />
              </td>
              <td>Cristal da terra</td>
              <td>1</td>
              <td>
                Colete nos andares 1-39 das Minas, Geodos, deixado por Cavadores
                nas Minas (andares 1-29).
              </td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Frozen_Tear.png" />
              </td>
              <td>Lágrima congelada</td>
              <td>1</td>
              <td>
                Colete nos andares 40-79 das Minas, Geodos congelados, deixado
                por Espíritos da Poeira (andares 40-80).
              </td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Fire_Quartz.png" />
              </td>
              <td>Quartzo de fogo</td>
              <td>1</td>
              <td>
                Colete nos andares 80-120 das Minas, Geodos de Magma, Omnigeodo.
              </td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto de Aventureiro</h1>
        <h2>2 Itens</h2>
        <h2>
          Recompensa: <img src="../public/images/Small_Magnet_Ring.png" />(1)
        </h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Slime.png" />
              </td>
              <td>Gosma</td>
              <td>99</td>
              <td>Deixada por Gosmas.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Bat_Wing.png" />
              </td>
              <td>Asa de morcego</td>
              <td>10</td>
              <td>Deixadas por Morcegos nas Minas.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Solar_Essence.png" />
              </td>
              <td>Essência solar</td>
              <td>1</td>
              <td>
                Deixada por Fantasmas, Faces ou Cabeças de metal nas Minas,
                deixada por Múmias na Caverna da Caveira.
              </td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Void_Essence.png" />
              </td>
              <td>Essência nula</td>
              <td>1</td>
              <td>
                Deixada por Brutos das sombras nas Minas ou Serpentes na Caverna
                da Caveira.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
