<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Aquário</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Conjuntos do Aquário</h2>
        <h3>Remoção da pedra brilhante</h3>

        <hr />

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Peixes de Rio</h1>
        <h2>4 Itens</h2>
        <h2>Recompensa: <img src="../public/images/Bait.png" />(30)</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Sunfish.png" />
              </td>
              <td>Peixe-sol</td>
              <td>1</td>
              <td>Primavera e Verão.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Catfish.png" />
              </td>
              <td>Bagre</td>
              <td>1</td>
              <td>Primavera e Outono / somente em clima chuvoso.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Shad.png" />
              </td>
              <td>Alocine</td>
              <td>1</td>
              <td>Primavera,Verão e Outono / somente em clima chuvoso.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Tiger_Trout.png" />
              </td>
              <td>Salmão híbrido</td>
              <td>1</td>
              <td>Outono e Inverno.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Peixes de Lago</h1>
        <h2>4 Itens</h2>
        <h2>
          Recompensa: <img src="../public/images/Dressed_Spinner.png" />(1)
        </h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Largemouth_Bass.png" />
              </td>
              <td>Achigã</td>
              <td>1</td>
              <td>Todas as estações.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Carp.png" />
              </td>
              <td>Carpa</td>
              <td>1</td>
              <td>Primavera, Verão e Outono.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Bullhead.png" />
              </td>
              <td>Peixe-gato</td>
              <td>1</td>
              <td>Todas as estações.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Sturgeon.png" />
              </td>
              <td>Esturjão</td>
              <td>1</td>
              <td>Verão e Inverno.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Peixes de Oceano</h1>
        <h2>4 Itens</h2>
        <h2>
          Recompensa: <img src="../public/images/Warp_Totem_Beach.png" />(5)
        </h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Sardine.png" />
              </td>
              <td>Sardinha</td>
              <td>1</td>
              <td>Primavera, Outono e Inverno.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Tuna.png" />
              </td>
              <td>Atum</td>
              <td>1</td>
              <td>Verão e Inverno.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Red_Snapper.png" />
              </td>
              <td>Cioba</td>
              <td>1</td>
              <td>Verão e Outono / somente em clima chuvoso.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Tilapia.png" />
              </td>
              <td>Tilápia</td>
              <td>1</td>
              <td>Verão e Outono.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Pesca Noturna</h1>
        <h2>3 Itens</h2>
        <h2>
          Recompensa: <img src="../public/images/Small_Glow_Ring.png" />(1)
        </h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Walleye.png" />
              </td>
              <td>Picão-verde</td>
              <td>1</td>
              <td>Outono /somente em clima chuvoso.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Bream.png" />
              </td>
              <td>Brema</td>
              <td>1</td>
              <td>Todas as estações.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Eel.png" />
              </td>
              <td>Enguia</td>
              <td>1</td>
              <td>Primavera e Outono / somente em clima chuvoso.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Covo</h1>
        <h2>5 Itens</h2>
        <h2>Recompensa: <img src="../public/images/Crab_Pot.png" />(3)</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Lobster.png" />
              </td>
              <td>Lagosta</td>
              <td>1</td>
              <td>Pego em Covos.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Crayfish.png" />
              </td>
              <td>Lagostim</td>
              <td>1</td>
              <td>Pego em Covos.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Crab.png" />
              </td>
              <td>Caranguejo</td>
              <td>1</td>
              <td>Pego em Covos.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Cockle.png" />
              </td>
              <td>Berbigão</td>
              <td>1</td>
              <td>Pego em Covos, colete na praia.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Mussel.png" />
              </td>
              <td>Mexilhão</td>
              <td>1</td>
              <td>Pego em Covos, colete na praia.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Shrimp.png" />
              </td>
              <td>Camarão</td>
              <td>1</td>
              <td>Pego em Covos.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Snail.png" />
              </td>
              <td>Lesma</td>
              <td>1</td>
              <td>Pego em Covos.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Periwinkle.png" />
              </td>
              <td>Caramujo</td>
              <td>1</td>
              <td>Pego em Covos.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Oyster.png" />
              </td>
              <td>Ostra</td>
              <td>1</td>
              <td>Pego em Covos, colete na praia.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Clam.png" />
              </td>
              <td>Concha</td>
              <td>1</td>
              <td>Pego em Covos, colete na praia.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Peixes Especializados</h1>
        <h2>4 Itens</h2>
        <h2>
          Recompensa: <img src="../public/images/Dish_O'_The_Sea.png" />(5)
        </h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Pufferfish.png" />
              </td>
              <td>Baiacu</td>
              <td>1</td>
              <td>Verão.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Ghostfish.png" />
              </td>
              <td>Peixe-fantasma</td>
              <td>1</td>
              <td>Minas.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Sandfish.png" />
              </td>
              <td>Areinha</td>
              <td>1</td>
              <td>Deserto calico.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Woodskip.png" />
              </td>
              <td>Madeirão</td>
              <td>1</td>
              <td>Bosque Secreto.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
