<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Cofre</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Conjuntos do Cofre</h2>
        <h3>Reparo do ônibus</h3>

        <hr />

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto 2.500g</h1>
        <h2>
          Recompensa: <img src="../public/images/Chocolate_Cake.png" />(3)
        </h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>-</td>
              <td>Dinheiro</td>
              <td>2.500g</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto 5.000g</h1>
        <h2>
          Recompensa: <img src="../public/images/Quality_Fertilizer.png" />(30)
        </h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>-</td>
              <td>Dinheiro</td>
              <td>5.000g</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto 10.000g</h1>
        <h2>Recompensa: <img src="../public/images/Lightning_Rod.png" />(1)</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>-</td>
              <td>Dinheiro</td>
              <td>10.000g</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto 25.000g</h1>
        <h2>Recompensa: <img src="../public/images/Crystalarium.png" />(1)</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>-</td>
              <td>Dinheiro</td>
              <td>25.000g</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
