<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Mercado Joja abandonado</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Conjunto Mercado Joja abandonado</h2>
        <h3>Cinema</h3>

        <hr />

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto A Desaparecida</h1>
        <h2>5 Itens</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Wine.png" />
              </td>
              <td>Vinho</td>
              <td>1</td>
              <td>Barril de madeira, qualidade prata.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Dinosaur_Mayonnaise.png" />
              </td>
              <td>Maionese de dinossauro</td>
              <td>1</td>
              <td>Máquina de maionese.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Prismatic_Shard.png" />
              </td>
              <td>Fragmento prismático</td>
              <td>1</td>
              <td>Minas e Caverna da Caveira.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Ancient_Fruit.png" />
              </td>
              <td>Fruta antiga</td>
              <td>5</td>
              <td>Plantação qualidade dourada.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Void_Salmon.png" />
              </td>
              <td>Salmão nulo</td>
              <td>1</td>
              <td>Pescado no Pântano da bruxa, qualidade dourada.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Caviar.png" />
              </td>
              <td>Caviar</td>
              <td>1</td>
              <td>Jarra de conserva.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
