<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Mural de Recados</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Conjuntos do Mural de Recados</h2>
        <h3>Amizades ❤</h3>

        <hr />

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto de Cozinheiro</h1>
        <h2>6 Itens</h2>
        <h2>Recompensa: <img src="../public/images/Pink_Cake.png" />(3)</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Maple_Syrup.png" />
              </td>
              <td>Xarope de ácer</td>
              <td>1</td>
              <td>Extraia de um Ácer.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Fiddlehead_Fern.png" />
              </td>
              <td>Broto de samambaia</td>
              <td>1</td>
              <td>Colete durante o Verão no Bosque Secreto.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Truffle.png" />
              </td>
              <td>Trufa</td>
              <td>1</td>
              <td>Porcos.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Poppy.png" />
              </td>
              <td>Papoula</td>
              <td>1</td>
              <td>Plantações de Verão.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Maki_Roll.png" />
              </td>
              <td>Rolinhos de arroz</td>
              <td>1</td>
              <td>Rainha do molho, 21 verão, ano 1.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Fried_Egg.png" />
              </td>
              <td>Ovo frito</td>
              <td>1</td>
              <td>Casa melhorada.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Tinta</h1>
        <h2>6 Itens</h2>
        <h2>Recompensa: <img src="../public/images/Seed_Maker.png" />(1)</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Red_Mushroom.png" />
              </td>
              <td>Cogumelo vermelho</td>
              <td>1</td>
              <td>
                Colete nas Minas, colete durante o Outono e o Verão no Bosque
                Secreto, na Caverna da Fazenda (opção de Cogumelos), Extraia de
                uma Árvore de cogumelo.
              </td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Sea_Urchin.png" />
              </td>
              <td>Ouriço-do-mar</td>
              <td>1</td>
              <td>
                Colete na Praia, após usar 300 madeiras para consertar a ponte
                até o lado direito da praia.
              </td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Sunflower.png" />
              </td>
              <td>Girassol</td>
              <td>1</td>
              <td>Plantações de Verão / Outono.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Duck_Feather.png" />
              </td>
              <td>Pena de pato</td>
              <td>1</td>
              <td>Patos.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Aquamarine.png" />
              </td>
              <td>Água-marinha</td>
              <td>1</td>
              <td>Nós de Águamarinha e caixas na Mina.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Red_Cabbage.png" />
              </td>
              <td>Repolho roxo</td>
              <td>1</td>
              <td>
                Plantações de Verão. (Sementes de repolho vermelho estão
                disponíveis no Armazém do Pierre a partir do ano 2).
              </td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Pesquisa de campo</h1>
        <h2>4 Itens</h2>
        <h2>
          Recompensa:
          <img src="../public/images/Recycling_Machine.png" />(1)
        </h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Purple_Mushroom.png" />
              </td>
              <td>Cogumelo roxo</td>
              <td>1</td>
              <td>
                Obtenha nas Minas, na Caverna da Fazenda (opção de Cogumelos),
                no mapa da Fazenda na Floresta Colete no Outono.
              </td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Nautilus_Shell.png" />
              </td>
              <td>Concha de náutilo</td>
              <td>1</td>
              <td>Colete na Praia durante o Inverno.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Chub.png" />
              </td>
              <td>Esquálio</td>
              <td>1</td>
              <td>
                Pode ser encontrado no rio e no lago da montanha em todas as
                estações.
              </td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Frozen_Geode.png" />
              </td>
              <td>Geodo congelado</td>
              <td>1</td>
              <td>As Minas Andares 40-79.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto Forragem</h1>
        <h2>3 Itens</h2>
        <h2>
          Recompensa:
          <img src="../public/images/Heater.png" />(1)
        </h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Wheat.png" />
              </td>
              <td>Trigo</td>
              <td>10</td>
              <td>Plantações de Verão / Outono.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Hay.png" />
              </td>
              <td>Palha</td>
              <td>10</td>
              <td>
                Comprada no Rancho da Marnie, corte grama com uma Foice, após
                comprar um Silo.
              </td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Apple.png" />
              </td>
              <td>Maçã</td>
              <td>3</td>
              <td>Obtida de Macieiras durante o Outono.</td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <br />
        <h1>Conjunto de Encantador</h1>
        <h2>4 Itens</h2>
        <h2>
          Recompensa:
          <img src="../public/images/Gold_Bar.png" />(5)
        </h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Itens</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Local</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../public/images/Oak_Resin.png" />
              </td>
              <td>Resina de carvalho</td>
              <td>1</td>
              <td>Extraia de um Carvalho.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Wine.png" />
              </td>
              <td>Vinho</td>
              <td>1</td>
              <td>Barril.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Rabbit's_Foot.png" />
              </td>
              <td>Pé de coelho</td>
              <td>1</td>
              <td>Coelhos, deixado por Serpentes na Caverna da Caveira.</td>
            </tr>
            <tr>
              <td>
                <img src="../public/images/Pomegranate.png" />
              </td>
              <td>Romã</td>
              <td>1</td>
              <td>
                Obtida pelas Romãzeiras no Outono, na Caverna da Fazenda (opção
                de Morcegos de Fruta).
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
