<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Peixes da Primavera</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Peixes da Primavera</h2>

      <hr />

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="10%">Peixe</th>
            <th width="15%">Nome</th>
            <th width="10%">Horário</th>
            <th width="10%">Clima</th>
            <th width="15%">Local</th>
            <th width="10%">Normal</th>
            <th width="10%">Silver</th>
            <th width="10%">Gold</th>
            <th width="10%">Iridium</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img data-src="../public/images/Smallmouth_Bass.png">
            </td>
            <td>
              <strong>Achigã-pequeno</strong>
              <small>(Smallmouth Bass)</small>
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Cidade
              <br>
              Lago da floresta
            </td>
            <td>
              50g
            </td>
            <td>
              62g
            </td>
            <td>
              75g
            </td>
            <td>
              100g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Shad.png">
            </td>
            <td>
              <strong>Alocine</strong>
              <small>(Shad)</small>
            </td>
            <td>
              9:00 as 2:00
            </td>
            <td>
              Chuva
            </td>
            <td>
              Cidade
            <br>
              Floresta
            </td>
            <td>
              60g
            </td>
            <td>
              75g
            </td>
            <td>
              90g
            </td>
            <td>
              120g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Anchovy.png">
            </td>
            <td>
              <strong>Anchova</strong>
              <small>(Anchovy)</small>
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            </td>
            <td>
              30g
            </td>
            <td>
              37g
            </td>
            <td>
              45g
            </td>
            <td>
              60g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Herring.png">
            </td>
            <td>
              <strong>Arenque</strong>
              <small>(Herring)</small>
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            </td>
            <td>
              30g
            </td>
            <td>
              37g
            </td>
            <td>
              45g
            </td>
            <td>
              60g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Catfish.png">
            </td>
            <td>
              <strong>Bagre</strong>
              <small>(Catfish)</small>
            </td>
            <td>
              6:00 as 00:00
            </td>
            <td>
              Chuva
            </td>
            <td>
              Cidade
            <br>
              Floresta
            <br>
              Lago do Bosque
            <br>
              Pântano da bruxa
            </td>
            <td>
              200g
            </td>
            <td>
              250g
            </td>
            <td>
              300g
            </td>
            <td>
              400g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Eel.png">
            </td>
            <td>
              <strong>Enguia</strong>
              <small>(Eel)</small>
            </td>
            <td>
              16:00 as 2:00
            </td>
            <td>
              Chuva
            </td>
            <td>
              Oceano
            </td>
            <td>
              85g
            </td>
            <td>
              106g
            </td>
            <td>
              127g
            </td>
            <td>
              170g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Halibut.png">
            </td>
            <td>
              <strong>Halibute</strong>
              <small>(Halibut)</small>
            </td>
            <td>
              6:00 as 11:00
              19:00 as 2:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            </td>
            <td>
              80g
            </td>
            <td>
              100g
            </td>
            <td>
              120g
            </td>
            <td>
              160g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Legend.png">
            </td>
            <td>
              <strong>Lenda</strong>
              <small>(Legend)</small>
            </td>
            <td>
              6:00 as 00:00
            </td>
            <td>
              Chuva
            </td>
            <td>
              Lago da montanha
            </td>
            <td>
              5000g
            </td>
            <td>
              6250g
            </td>
            <td>
              7500g
            </td>
            <td>
              10000g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Flounder.png">
            </td>
            <td>
              <strong>Linguado</strong>
              <small>(Flounder)</small>
            </td>
            <td>
              6:00 as 20:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            <br>
              Ilha Gengibre
            </td>
            <td>
              100g
            </td>
            <td>
              125g
            </td>
            <td>
              150g
            </td>
            <td>
              200g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Sunfish.png">
            </td>
            <td>
              <strong>Peixe-sol</strong>
              <small>(Sunfish)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Sol
            <br>
              Vento
            </td>
            <td>
              Cidade
            <br>
              Floresta
            </td>
            <td>
              30g
            </td>
            <td>
              37g
            </td>
            <td>
              45g
            </td>
            <td>
              60g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Sardine.png">
            </td>
            <td>
              <strong>Sardinha</strong>
              <small>(Sardine)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            </td>
            <td>
              40g
            </td>
            <td>
              50g
            </td>
            <td>
              60g
            </td>
            <td>
              80g
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
