<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Peixes do Outono</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Peixes do Outono</h2>

      <hr />

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="10%">Peixe</th>
            <th width="15%">Nome</th>
            <th width="10%">Horário</th>
            <th width="10%">Clima</th>
            <th width="15%">Local</th>
            <th width="10%">Normal</th>
            <th width="10%">Silver</th>
            <th width="10%">Gold</th>
            <th width="10%">Iridium</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img data-src="../public/images/Smallmouth_Bass.png">
            </td>
            <td>
              <strong>Achigã-pequeno</strong>
              <small>(Smallmouth Bass)</small>
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Cidade
              <br>
              Lago da floresta
            </td>
            <td>
              50g
            </td>
            <td>
              62g
            </td>
            <td>
              75g
            </td>
            <td>
              100g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Albacore.png">
            </td>
            <td>
              <strong>Albacora</strong>
              <small>(Albacore)</small>
            </td>
            <td>
              6:00 as 11:00
              18:00 as 2:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            </td>
            <td>
              75g
            </td>
            <td>
              93g
            </td>
            <td>
              112g
            </td>
            <td>
              150g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Shad.png">
            </td>
            <td>
              <strong>Alocine</strong>
              <small>(Shad)</small>
            </td>
            <td>
              9:00 as 2:00
            </td>
            <td>
              Chuva
            </td>
            <td>
              Cidade
            <br>
              Floresta
            </td>
            <td>
              60g
            </td>
            <td>
              75g
            </td>
            <td>
              90g
            </td>
            <td>
              120g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Anchovy.png">
            </td>
            <td>
              <strong>Anchova</strong>
              <small>(Anchovy)</small>
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            </td>
            <td>
              30g
            </td>
            <td>
              37g
            </td>
            <td>
              45g
            </td>
            <td>
              60g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Catfish.png">
            </td>
            <td>
              <strong>Bagre</strong>
              <small>(Catfish)</small>
            </td>
            <td>
              6:00 as 00:00
            </td>
            <td>
              Chuva
            </td>
            <td>
              Cidade
            <br>
              Floresta
            <br>
              Lago do Bosque
            <br>
              Pântano da bruxa
            </td>
            <td>
              200g
            </td>
            <td>
              250g
            </td>
            <td>
              300g
            </td>
            <td>
              400g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Midnight_Carp.png">
            </td>
            <td>
              <strong>Carpa da meia-noite</strong>
              <small>(Midnight carp)</small>
            </td>
            <td>
              22:00 as 2:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Lago da montanha
            <br>
              Lago da floresta
            <br>
              Ilha Gengibre
            </td>
            <td>
              150g
            </td>
            <td>
              187g
            </td>
            <td>
              225g
            </td>
            <td>
              300g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Red_snapper.png">
            </td>
            <td>
              <strong>Cioba</strong>
              <small>(Red snapper)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Chuva
            </td>
            <td>
              Oceano
            </td>
            <td>
              50g
            </td>
            <td>
              62g
            </td>
            <td>
              75g
            </td>
            <td>
              100g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Eel.png">
            </td>
            <td>
              <strong>Enguia</strong>
              <small>(Eel)</small>
            </td>
            <td>
              16:00 as 2:00
            </td>
            <td>
              Chuva
            </td>
            <td>
              Oceano
            </td>
            <td>
              85g
            </td>
            <td>
              106g
            </td>
            <td>
              127g
            </td>
            <td>
              170g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Sea_Cucumber.png">
            </td>
            <td>
              <strong>Pepino-do-mar</strong>
              <small>(Sea cucumber)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            </td>
            <td>
              75g
            </td>
            <td>
              93g
            </td>
            <td>
              112g
            </td>
            <td>
              150g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Walleye.png">
            </td>
            <td>
              <strong>Picão-verde</strong>
              <small>(Walleye)</small>
            </td>
            <td>
              12:00 as 2:00
            </td>
            <td>
              Chuva
            </td>
            <td>
              Cidade
            <br>
              Floresta
            <br>
              Lago da floresta
            </td>
            <td>
              105g
            </td>
            <td>
              131g
            </td>
            <td>
              157g
            </td>
            <td>
              210g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Salmon.png">
            </td>
            <td>
              <strong>Salmão</strong>
              <small>(Salmon)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Cidade
            <br>
              Floresta
            </td>
            <td>
              75g
            </td>
            <td>
              93g
            </td>
            <td>
              112g
            </td>
            <td>
              150g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Tiger_Trout.png">
            </td>
            <td>
              <strong>Salmão híbrido</strong>
              <small>(Tiger trout)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Cidade
            <br>
              Floresta
            </td>
            <td>
              150g
            </td>
            <td>
              187g
            </td>
            <td>
              225g
            </td>
            <td>
              300g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Sardine.png">
            </td>
            <td>
              <strong>Sardinha</strong>
              <small>(Sardine)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            </td>
            <td>
              40g
            </td>
            <td>
              50g
            </td>
            <td>
              60g
            </td>
            <td>
              80g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Super_Cucumber.png">
            </td>
            <td>
              <strong>Superpepino</strong>
              <small>(Super cucumber)</small>
            </td>
            <td>
              18:00 as 2:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            <br>
              Ilha Gengibre
            </td>
            <td>
              250g
            </td>
            <td>
              312g
            </td>
            <td>
              375g
            </td>
            <td>
              500g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Angler.png">
            </td>
            <td>
              <strong>Tamboril</strong>
              <small>(Angler)</small>
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Norte da joja
            </td>
            <td>
              900g
            </td>
            <td>
              1125g
            </td>
            <td>
              1350g
            </td>
            <td>
              1800g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Tilapia.png">
            </td>
            <td>
              <strong>Tilápia</strong>
              <small>(Tilapia)</small>
            </td>
            <td>
              6:00 as 14:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            <br>
              Ilha Gengibre
            </td>
            <td>
              75g
            </td>
            <td>
              93g
            </td>
            <td>
              112g
            </td>
            <td>
              150g
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
