<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Peixes do Verão</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Peixes do Verão</h2>

      <hr />

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="10%">Peixe</th>
            <th width="15%">Nome</th>
            <th width="10%">Horário</th>
            <th width="10%">Clima</th>
            <th width="15%">Local</th>
            <th width="10%">Normal</th>
            <th width="10%">Silver</th>
            <th width="10%">Gold</th>
            <th width="10%">Iridium</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>
                <img data-src="../public/images/Shad.png">
              </td>
              <td>
                <strong>Alocine</strong>
                <small>(Shad)</small>
              </td>
              <td>
                9:00 as 2:00
              </td>
              <td>
                Chuva
              </td>
              <td>
                Cidade
              <br>
                Floresta
              </td>
              <td>
                60g
              </td>
              <td>
                75g
              </td>
              <td>
                90g
              </td>
              <td>
                120g
              </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Tuna.png">
            </td>
            <td>
              <strong>Atum</strong>
              <small>(Tuna)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            </td>
            <td>
              100g
            </td>
            <td>
              125g
            </td>
            <td>
              150g
            </td>
            <td>
              200g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Catfish.png">
            </td>
            <td>
              <strong>Bagre</strong>
              <small>(Catfish)</small>
            </td>
            <td>
              6:00 as 00:00
            </td>
            <td>
              Chuva
            </td>
            <td>
              Cidade
            <br>
              Floresta
            <br>
              Lago do Bosque
            <br>
              Pântano da bruxa
            </td>
            <td>
              200g
            </td>
            <td>
              250g
            </td>
            <td>
              300g
            </td>
            <td>
              400g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Pufferfish.png">
            </td>
            <td>
              <strong>Baiacu</strong>
              <small>(Pufferfish)</small>
            </td>
            <td>
              12:00 as 16:00
            </td>
            <td>
              Sol
            </td>
            <td>
              Oceano
            </td>
            <td>
              200g
            </td>
            <td>
              250g
            </td>
            <td>
              300g
            </td>
            <td>
              400g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Red_snapper.png">
            </td>
            <td>
              <strong>Cioba</strong>
              <small>(Red snapper)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Chuva
            </td>
            <td>
              Oceano
            </td>
            <td>
              50g
            </td>
            <td>
              62g
            </td>
            <td>
              75g
            </td>
            <td>
              100g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Dorado.png">
            </td>
            <td>
              <strong>Dourado</strong>
              <small>(Dorado)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Floresta
            </td>
            <td>
              100g
            </td>
            <td>
              125g
            </td>
            <td>
              150g
            </td>
            <td>
              200g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Sturgeon.png">
            </td>
            <td>
              <strong>Esturjão</strong>
              <small>(Sturgeon)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Lago da montanha
            </td>
            <td>
              200g
            </td>
            <td>
              250g
            </td>
            <td>
              300g
            </td>
            <td>
              400g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Halibut.png">
            </td>
            <td>
              <strong>Halibute</strong>
              <small>(Halibut)</small>
            </td>
            <td>
              6:00 as 11:00
              19:00 as 2:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            </td>
            <td>
              80g
            </td>
            <td>
              100g
            </td>
            <td>
              120g
            </td>
            <td>
              160g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Flounder.png">
            </td>
            <td>
              <strong>Linguado</strong>
              <small>(Flounder)</small>
            </td>
            <td>
              6:00 as 20:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            <br>
              Ilha Gengibre
            </td>
            <td>
              100g
            </td>
            <td>
              125g
            </td>
            <td>
              150g
            </td>
            <td>
              200g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Pike.png">
            </td>
            <td>
              <strong>Lúcio</strong>
              <small>(Pike)</small>
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Cidade
            <br>
              Floresta
            <br>
              Lago da Floresta
            </td>
            <td>
              100g
            </td>
            <td>
              125g
            </td>
            <td>
              150g
            </td>
            <td>
              200g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Crimsonfish.png">
            </td>
            <td>
              <strong>Peixe-carmim</strong>
              <small>(Crimsonfish)</small>
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Pier da praia
            </td>
            <td>
              1500g
            </td>
            <td>
              1875g
            </td>
            <td>
              2250g
            </td>
            <td>
              3000g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Sunfish.png">
            </td>
            <td>
              <strong>Peixe-sol</strong>
              <small>(Sunfish)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Sol
            <br>
              Vento
            </td>
            <td>
              Cidade
            <br>
              Floresta
            </td>
            <td>
              30g
            </td>
            <td>
              37g
            </td>
            <td>
              45g
            </td>
            <td>
              60g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Octopus.png">
            </td>
            <td>
              <strong>Polvo</strong>
              <small>(Octopus)</small>
            </td>
            <td>
              6:00 as 13:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            </td>
            <td>
              150g
            </td>
            <td>
              187g
            </td>
            <td>
              225g
            </td>
            <td>
              300g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Red_Mullet.png">
            </td>
            <td>
              <strong>Salmonete</strong>
              <small>(Red mullet)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            </td>
            <td>
              75g
            </td>
            <td>
              93g
            </td>
            <td>
              112g
            </td>
            <td>
              150g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Super_Cucumber.png">
            </td>
            <td>
              <strong>Superpepino</strong>
              <small>(Super cucumber)</small>
            </td>
            <td>
              18:00 as 2:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            <br>
              Ilha Gengibre
            </td>
            <td>
              250g
            </td>
            <td>
              312g
            </td>
            <td>
              375g
            </td>
            <td>
              500g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Tilapia.png">
            </td>
            <td>
              <strong>Tilápia</strong>
              <small>(Tilapia)</small>
            </td>
            <td>
              6:00 as 14:00
            </td>
            <td>
              Qualquer
            </td>
            <td>
              Oceano
            <br>
              Ilha Gengibre
            </td>
            <td>
              75g
            </td>
            <td>
              93g
            </td>
            <td>
              112g
            </td>
            <td>
              150g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Rainbow_Trout.png">
            </td>
            <td>
              <strong>Truta arco-íris</strong>
              <small>(Rainbow trout)</small>
            </td>
            <td>
              6:00 as 19:00
            </td>
            <td>
              Sol
            </td>
            <td>
              Cidade
            <br>
              Floresta
            <br>
              Lago da montanha
            </td>
            <td>
              65g
            </td>
            <td>
              81g
            </td>
            <td>
              97g
            </td>
            <td>
              130g
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
