<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Plantações do Verão</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Plantações do Verão</h2>

      <hr />

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="10%">Crop</th>
            <th width="10%">Seed</th>
            <th width="20%">Name</th>
            <th width="10%">Selled by</th>
            <th width="10%">Seed Price</th>
            <th width="10%">Normal</th>
            <th width="10%">Silver</th>
            <th width="10%">Gold</th>
            <th width="10%">Iridium</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img data-src="../public/images/Starfruit.png">
            </td>
            <td>
              <img data-src="../public/images/Starfruit_Seeds.png">
            </td>
            <td>
              <strong>Carambola</strong>
              <small>(Starfruit)</small>
            </td>
            <td>
              Oásis
            </td>
            <td>
              400g
            </td>
            <td>
              750g
            </td>
            <td>
              937g
            </td>
            <td>
              1125g
            </td>
            <td>
              1500g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Spangle.png">
            </td>
            <td>
              <img data-src="../public/images/Spangle_Seeds.png">
            </td>
            <td>
              <strong>Flor-miçanga</strong>
              <small>(Spangle)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              50g
            </td>
            <td>
              90g
            </td>
            <td>
              112g
            </td>
            <td>
              135g
            </td>
            <td>
              180g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Sunflower.png">
            </td>
            <td>
              <img data-src="../public/images/Sunflower_Seeds.png">
            </td>
            <td>
              <strong>Girassol</strong>
              <small>(Sunflower)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              200g
            </td>
            <td>
              80g
            </td>
            <td>
              100g
            </td>
            <td>
              120g
            </td>
            <td>
              160g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Hops.png">
            </td>
            <td>
              <img data-src="../public/images/Hops_Starter.png">
            </td>
            <td>
              <strong>Lúpulo</strong>
              <small>(Hops)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              60g
            </td>
            <td>
              25g
            </td>
            <td>
              31g
            </td>
            <td>
              37g
            </td>
            <td>
              50g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Melon.png">
            </td>
            <td>
              <img data-src="../public/images/Melon_Seeds.png">
            </td>
            <td>
              <strong>Melão</strong>
              <small>(Melon)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              80g
            </td>
            <td>
              250g
            </td>
            <td>
              312g
            </td>
            <td>
              375g
            </td>
            <td>
              500g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Corn.png">
            </td>
            <td>
              <img data-src="../public/images/Corn_Seeds.png">
            </td>
            <td>
              <strong>Milho</strong>
              <small>(Corn)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              150g
            </td>
            <td>
              50g
            </td>
            <td>
              62g
            </td>
            <td>
              75g
            </td>
            <td>
              100g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Blueberry.png">
            </td>
            <td>
              <img data-src="../public/images/Blueberry_Seeds.png">
            </td>
            <td>
              <strong>Mirtilo</strong>
              <small>(Blueberry)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              80g
            </td>
            <td>
              50g
            </td>
            <td>
              62g
            </td>
            <td>
              75g
            </td>
            <td>
              100g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Poppy.png">
            </td>
            <td>
              <img data-src="../public/images/Poppy_Seeds.png">
            </td>
            <td>
              <strong>Papoula</strong>
              <small>(Poppy)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              100g
            </td>
            <td>
              140g
            </td>
            <td>
              175g
            </td>
            <td>
              210g
            </td>
            <td>
              280g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Hot_Pepper.png">
            </td>
            <td>
              <img data-src="../public/images/Pepper_Seeds.png">
            </td>
            <td>
              <strong>Pimenta Quente</strong>
              <small>(Hot Pepper)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              40g
            </td>
            <td>
              40g
            </td>
            <td>
              50g
            </td>
            <td>
              60g
            </td>
            <td>
              80g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Radish.png">
            </td>
            <td>
              <img data-src="../public/images/Radish_Seeds.png">
            </td>
            <td>
              <strong>Rabanete</strong>
              <small>(Radish)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              40g
            </td>
            <td>
              90g
            </td>
            <td>
              112g
            </td>
            <td>
              135g
            </td>
            <td>
              180g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Red_Cabbage.png">
            </td>
            <td>
              <img data-src="../public/images/Red_Cabbage_Seeds.png">
            </td>
            <td>
              <strong>Tulipa</strong>
              <small>(Tulip)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              100g
            </td>
            <td>
              260g
            </td>
            <td>
              325g
            </td>
            <td>
              390g
            </td>
            <td>
              520g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Tomato.png">
            </td>
            <td>
              <img data-src="../public/images/Tomato_Seeds.png">
            </td>
            <td>
              <strong>Tomate</strong>
              <small>(Tomato)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              50g
            </td>
            <td>
              60g
            </td>
            <td>
              75g
            </td>
            <td>
              90g
            </td>
            <td>
              120g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Wheat.png">
            </td>
            <td>
              <img data-src="../public/images/Wheat_Seeds.png">
            </td>
            <td>
              <strong>Trigo</strong>
              <small>(Wheat)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              10g
            </td>
            <td>
              25g
            </td>
            <td>
              31g
            </td>
            <td>
              37g
            </td>
            <td>
              50g
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
