<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Plantações Especiais</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Plantações Especiais</h2>

      <hr />

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="10%">Crop</th>
            <th width="10%">Seed</th>
            <th width="20%">Name</th>
            <th width="10%">Selled by</th>
            <th width="10%">Seed Price</th>
            <th width="10%">Normal</th>
            <th width="10%">Silver</th>
            <th width="10%">Gold</th>
            <th width="10%">Iridium</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                  <img data-src="../public/images/Sweet_Gem_Berry.png">
                </td>
                <td>
                  <img data-src="../public/images/Rare_Seed.png">
                </td>
                <td>
                  <strong>Cereja de Joia Doce</strong>
                  <small>(Sweet Gem Berry)</small>
                </td>
                <td>
                  Carrinho
                </td>
                <td>
                  1000g
                </td>
                <td>
                  3000g
                </td>
                <td>
                  3750g
                </td>
                <td>
                  4500g
                </td>
                <td>
                  6000g
                </td>
            </tr>
            <tr>
                <td>
                  <img data-src="../public/images/Ancient_Fruit.png">
                </td>
                <td>
                  <img data-src="../public/images/Ancient_Seeds.png">
                </td>
                <td>
                  <strong>Fruta antiga</strong>
                  <small>(Ancient Fruit)</small>
                </td>
                <td>
                  Carrinho
                </td>
                <td>
                  100g - 1000g
                </td>
                <td>
                  550g
                </td>
                <td>
                  687g
                </td>
                <td>
                  825g
                </td>
                <td>
                  1100g
                </td>
            </tr>
            <tr>
                <td>
                  <img data-src="../public/images/Cactus_Fruit.png">
                </td>
                <td>
                  <img data-src="../public/images/Cactus_Seeds.png">
                </td>
                <td>
                  <strong>Fruta do cacto</strong>
                  <small>(Cactus Fruit)</small>
                </td>
                <td>
                  Oásis
                </td>
                <td>
                  150g
                </td>
                <td>
                  75g
                </td>
                <td>
                  93g
                </td>
                <td>
                  112g
                </td>
                <td>
                  150g
                </td>
            </tr>
            <tr>
                <td>
                  <img data-src="../public/images/Pineapple.png">
                </td>
                <td>
                  <img data-src="../public/images/Pineapple_Seeds.png">
                </td>
                <td>
                  <strong>Abacaxi</strong>
                  <small>(Pineapple)</small>
                </td>
                <td>
                  Comerciante da ilha
                </td>
                <td>
                  Cogumelo de magma (1)
                </td>
                <td>
                  300g
                </td>
                <td>
                  375g
                </td>
                <td>
                  450g
                </td>
                <td>
                  600g
                </td>
            </tr>
            <tr>
                <td>
                  <img data-src="../public/images/Tea_Leaves.png">
                </td>
                <td>
                  <img data-src="../public/images/Tea_Sapling.png">
                </td>
                <td>
                  <strong>Folha de chá</strong>
                  <small>(Tea leaves)</small>
                </td>
                <td>
                  Receita de artesanato
                </td>
                <td>
                  Caroline <br>2❤
                </td>
                <td>
                  50g
                </td>
                <td>
                  -
                </td>
                <td>
                  -
                </td>
                <td>
                  -
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
