<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Plantações de Outono</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Plantações do Outono</h2>

      <hr />

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="10%">Crop</th>
            <th width="10%">Seed</th>
            <th width="20%">Name</th>
            <th width="10%">Selled by</th>
            <th width="10%">Seed Price</th>
            <th width="10%">Normal</th>
            <th width="10%">Silver</th>
            <th width="10%">Gold</th>
            <th width="10%">Iridium</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img data-src="../public/images/Pumpkin.png">
            </td>
            <td>
              <img data-src="../public/images/Pumpkin_Seeds.png">
            </td>
            <td>
              <strong>Abóbora</strong>
              <small>(Pumpkin)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              100g
            </td>
            <td>
              320g
            </td>
            <td>
              400g
            </td>
            <td>
              480g
            </td>
            <td>
              640g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Artichoke.png">
            </td>
            <td>
              <img data-src="../public/images/Artichoke_Seeds.png">
            </td>
            <td>
              <strong>Alcachofra</strong>
              <small>(Artichoke)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              30g
            </td>
            <td>
              160g
            </td>
            <td>
              200g
            </td>
            <td>
              240g
            </td>
            <td>
              320g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Amaranth.png">
            </td>
            <td>
              <img data-src="../public/images/Amaranth_Seeds.png">
            </td>
            <td>
              <strong>Amaranto</strong>
              <small>(Amaranth)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              70g
            </td>
            <td>
              150g
            </td>
            <td>
              187g
            </td>
            <td>
              225g
            </td>
            <td>
              300g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Eggplant.png">
            </td>
            <td>
              <img data-src="../public/images/Eggplant_Seeds.png">
            </td>
            <td>
              <strong>Berinjela</strong>
              <small>(Eggplant)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              20g
            </td>
            <td>
              60g
            </td>
            <td>
              75g
            </td>
            <td>
              90g
            </td>
            <td>
              120g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Beet.png">
            </td>
            <td>
              <img data-src="../public/images/Beet_Seeds.png">
            </td>
            <td>
              <strong>Beterraba</strong>
              <small>(Beet)</small>
            </td>
            <td>
              Oásis
            </td>
            <td>
              20g
            </td>
            <td>
              100g
            </td>
            <td>
              125g
            </td>
            <td>
              150g
            </td>
            <td>
              200g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Bok_Choy.png">
            </td>
            <td>
              <img data-src="../public/images/Bok_Choy_Seeds.png">
            </td>
            <td>
              <strong>Couve chinesa</strong>
              <small>(Bok Choy)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              50g
            </td>
            <td>
              80g
            </td>
            <td>
              100g
            </td>
            <td>
              120g
            </td>
            <td>
              160g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Yam.png">
            </td>
            <td>
              <img data-src="../public/images/Yam_Seeds.png">
            </td>
            <td>
              <strong>Inhame</strong>
              <small>(Yam)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              60g
            </td>
            <td>
              160g
            </td>
            <td>
              200g
            </td>
            <td>
              240g
            </td>
            <td>
              320g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Cranberries.png">
            </td>
            <td>
              <img data-src="../public/images/Cranberry_Seeds.png">
            </td>
            <td>
              <strong>Oxicoco</strong>
              <small>(Cranberries)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              240g
            </td>
            <td>
              75g
            </td>
            <td>
              93g
            </td>
            <td>
              112g
            </td>
            <td>
              150g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Fairy_Rose.png">
            </td>
            <td>
              <img data-src="../public/images/Fairy_Seeds.png">
            </td>
            <td>
              <strong>Rosa-de-fada</strong>
              <small>(Fairy rose)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              200g
            </td>
            <td>
              290g
            </td>
            <td>
              362g
            </td>
            <td>
              435g
            </td>
            <td>
              580g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/summerCrops/Wheat.png">
            </td>
            <td>
              <img data-src="../public/summerCrops/Wheat_Seeds.png">
            </td>
            <td>
              <strong>Trigo</strong>
              <small>(Wheat)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              10g
            </td>
            <td>
              25g
            </td>
            <td>
              31g
            </td>
            <td>
              37g
            </td>
            <td>
              50g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Grape.png">
            </td>
            <td>
              <img data-src="../public/images/Grape_Starter.png">
            </td>
            <td>
              <strong>Uva</strong>
              <small>(Grape)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              60g
            </td>
            <td>
              80g
            </td>
            <td>
              100g
            </td>
            <td>
              120g
            </td>
            <td>
              160g
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
