<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Plantações de Primavera</title>
    <meta name="author" content="K0dax" />

    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <script
      type="text/javascript"
      src="../assets/js/jquery.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/lazyload.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/app.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>Stardew Valley</h1>
        <h2>Plantações de Primavera</h2>

      <hr />

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="10%">Crop</th>
            <th width="10%">Seed</th>
            <th width="20%">Name</th>
            <th width="10%">Selled by</th>
            <th width="10%">Seed Price</th>
            <th width="10%">Normal</th>
            <th width="10%">Silver</th>
            <th width="10%">Gold</th>
            <th width="10%">Iridium</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img data-src="../public/images/Garlic.png">
            </td>
            <td>
              <img data-src="../public/images/Garlic_Seeds.png">
            </td>
            <td>
              <strong>Alho</strong>
              <small>(Garlic)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              40g
            </td>
            <td>
              60g
            </td>
            <td>
              75g
            </td>
            <td>
              90g
            </td>
            <td>
              120g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Rice.png">
            </td>
            <td>
              <img data-src="../public/images/Rice_Shoot.png">
            </td>
            <td>
              <strong>Arroz não moído</strong>
              <small>(Rice)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              40g
            </td>
            <td>
              30g
            </td>
            <td>
              37g
            </td>
            <td>
              45g
            </td>
            <td>
              60g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Potato.png">
            </td>
            <td>
              <img data-src="../public/images/Potato_Seeds.png">
            </td>
            <td>
              <strong>Batata</strong>
              <small>(Potato)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              50g
            </td>
            <td>
              80g
            </td>
            <td>
              100g
            </td>
            <td>
              120g
            </td>
            <td>
              160g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Parsnip.png">
            </td>
            <td>
              <img data-src="../public/images/Parsnip_Seeds.png">
            </td>
            <td>
              <strong>Chirívia</strong>
              <small>(Parsnip)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              20g
            </td>
            <td>
              35g
            </td>
            <td>
              43g
            </td>
            <td>
              52g
            </td>
            <td>
              70g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Kale.png">
            </td>
            <td>
              <img data-src="../public/images/Kale_Seeds.png">
            </td>
            <td>
              <strong>Couve</strong>
              <small>(Kale)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              70g
            </td>
            <td>
              110g
            </td>
            <td>
              137g
            </td>
            <td>
              165g
            </td>
            <td>
              220g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Cauliflower.png">
            </td>
            <td>
              <img data-src="../public/images/Cauliflower_Seeds.png">
            </td>
            <td>
              <strong>Couve-flor</strong>
              <small>(Cauliflower)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              80g
            </td>
            <td>
              175g
            </td>
            <td>
              218g
            </td>
            <td>
              262g
            </td>
            <td>
              350g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Coffee_Bean.png">
            </td>
            <td>
              <img data-src="../public/images/Coffee_Bean.png">
            </td>
            <td>
              <strong>Grão de café</strong>
              <small>(Coffee Bean)</small>
            </td>
            <td>
              Carrinho
            </td>
            <td>
              15g
            </td>
            <td>
              18g
            </td>
            <td>
              218g
            </td>
            <td>
              22g
            </td>
            <td>
              30g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Blue_Jazz.png">
            </td>
            <td>
              <img data-src="../public/images/Jazz_Seeds.png">
            </td>
            <td>
              <strong>Jasmim-Azul</strong>
              <small>(Blue Jazz)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              30g
            </td>
            <td>
              50g
            </td>
            <td>
              62g
            </td>
            <td>
              75g
            </td>
            <td>
              100g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Strawberry.png">
            </td>
            <td>
              <img data-src="../public/images/Strawberry_Seeds.png">
            </td>
            <td>
              <strong>Morango</strong>
              <small>(Strawberry)</small>
            </td>
            <td>
              Festival
            </td>
            <td>
              100g
            </td>
            <td>
              120g
            </td>
            <td>
              150g
            </td>
            <td>
              180g
            </td>
            <td>
              240g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Rhubarb.png">
            </td>
            <td>
              <img data-src="../public/images/Rhubarb_Seeds.png">
            </td>
            <td>
              <strong>Ruibarbo</strong>
              <small>(Rhubarb)</small>
            </td>
            <td>
              Oásis
            </td>
            <td>
              100g
            </td>
            <td>
              220g
            </td>
            <td>
              275g
            </td>
            <td>
              330g
            </td>
            <td>
              440g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Tulip.png">
            </td>
            <td>
              <img data-src="../public/images/Tulip_Bulb.png">
            </td>
            <td>
              <strong>Tulipa</strong>
              <small>(Tulip)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              20g
            </td>
            <td>
              30g
            </td>
            <td>
              37g
            </td>
            <td>
              45g
            </td>
            <td>
              60g
            </td>
          </tr>
          <tr>
            <td>
              <img data-src="../public/images/Green_Bean.png">
            </td>
            <td>
              <img data-src="../public/images/Bean_Starter.png">
            </td>
            <td>
              <strong>Vagem</strong>
              <small>(Green Bean)</small>
            </td>
            <td>
              Armazém
            </td>
            <td>
              60g
            </td>
            <td>
              40g
            </td>
            <td>
              50g
            </td>
            <td>
              60g
            </td>
            <td>
              80g
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
